/* CSS declarations go here */

@-webkit-keyframes slide_in_left {
	from {
		transform: translateY(-100%);
	}
	
	to {
		transform: translateY(0);
	}
}

@-moz-keyframes slide_in_left {
	from {
		transform: translateY(-100%);
	}
	
	to {
		transform: translateY(0);
	}
}

table tr {
	-webkit-animation: slide_in_left .5s;
	-moz-animation: slide_in_left .5s;
}

/*
table tr, table tr {
	transition: all .2s ease-out;
}
*/

body {
	background-color: #ddd;
	color: #444;
}

body > .outline, body > table {
	width: 70%;
	margin: 10px auto;
	/*border: 2px solid #555;*/
	padding: 5px;
}

h1 {
	text-align: center;
}

h1.editing_title form, h1.editing_title input{
	display: inline
}

input[type=text] {
	border: none;
	border-bottom: solid 2px #222;
	background-color: #ddd;
	vertical-align: middle;
	font-size: 24px;
}

.outline {
	border: 2px dashed #900;
	border-radius: 3px;
}

tr {
	border: 3px solid #999;
}

table {
	border-collapse: collapse;
	font-size: 2em;
}

table td {
	padding: 5px;
}

table td:first-child {
	padding-right: 2em;
}

/* Make tds and icon in own tr look clickable*/
.is_self td[data-intent],.is_self i {
	cursor: pointer;
}

table form, .editContainer form {
	display: inline;
}


/*
.yep {
	color: #060;
}

.nope {
	color: #600;
}

.later {
	color: #006;
}*/

.yep {
	color: #999;
}

.nope {
	color: #999;
}

.later {
	color: #999;
}

.active {
	/*font-weight: bold;*/
}

.yep.active {
	color: green;
}

.nope.active {
	color: red;
}

.later.active {
	color: blue
}